In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [6]:
diretorio_repositorio = 'database'
dataframes = []

In [7]:
for root, dirs, files in os.walk(diretorio_repositorio):
    for file in files:
        if file.endswith('.csv'):
            nome_arquivo, extensao = os.path.splitext(file)
            if nome_arquivo[-1] == 'b':
                arquivo_csv = os.path.join(root, file)
                dataframe = pd.read_csv(arquivo_csv, sep=';')
                dataframe = dataframe.transpose()
                dataframe['classe'] = nome_arquivo
                dataframes.append(dataframe)

dataset = pd.concat(dataframes, ignore_index=True)

In [8]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,classe
0,97.776,100.690,45.327,51.162,88.052,91.493,82.091,33.664,78.342,62.154,106.240,100.280,90.872,87.979,50.855,69.568,S001baixob
1,70.903,70.405,21.763,30.156,70.470,77.080,62.330,28.126,68.320,45.450,91.900,85.314,77.508,73.877,40.292,64.877,S001baixob
2,63.080,64.223,21.413,31.114,70.686,77.777,55.867,40.359,75.387,45.833,92.284,89.465,77.019,75.160,40.456,70.583,S001baixob
3,116.240,115.440,83.330,89.471,117.550,105.230,88.113,69.171,113.350,88.175,135.150,133.510,114.410,108.560,59.009,80.047,S001baixob
4,77.013,75.450,43.895,49.776,77.842,69.193,51.890,41.267,77.936,54.341,96.539,92.856,78.813,74.918,32.463,66.568,S001baixob

In [9]:
dataset.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,classe
5785915,-151.39,-128.20,-143.62,-142.08,-108.28,-98.608,-91.694,-7.1128,-88.152,-80.202,-95.813,-48.610,-70.587,-78.637,-77.594,-51.188,S109esquerdab
5785916,-136.75,-112.41,-149.85,-149.90,-118.44,-92.802,-104.270,-18.9060,-93.787,-78.477,-82.655,-40.233,-60.069,-72.087,-94.962,-47.190,S109esquerdab
5785917,-151.50,-139.84,-145.77,-143.67,-138.64,-95.951,-110.130,-28.7720,-103.930,-87.441,-102.280,-52.531,-90.130,-92.327,-88.512,-66.108,S109esquerdab
5785918,-189.13,-180.28,-174.42,-169.40,-150.03,-124.440,-130.640,-55.5700,-121.820,-112.450,-134.510,-91.348,-128.470,-127.530,-91.885,-104.300,S109esquerdab
5785919,-202.14,-179.81,-197.15,-187.85,-138.93,-133.410,-143.030,-75.0130,-132.770,-129.050,-145.010,-90.044,-122.160,-126.670,-107.060,-103.660,S109esquerdab