In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [3]:
diretorio_repositorio = 'database'
dataframes = []

In [4]:
for root, dirs, files in os.walk(diretorio_repositorio):
    for file in files:
        if file.endswith('.csv'):
            nome_arquivo, extensao = os.path.splitext(file)
            if nome_arquivo[-1] == 'b':
                arquivo_csv = os.path.join(root, file)
                dataframe = pd.read_csv(arquivo_csv, sep=';',index_col=0)
                dataframe = dataframe.reset_index()
                dataframe = dataframe.transpose()
                dataframe['classe'] = nome_arquivo
                dataframe.columns = [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,'classe']
                dataframe[1]=dataframe.index
                dataframes.append(dataframe)

dataset = pd.concat(dataframes,ignore_index=True)

In [5]:
dataset.head()

,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,classe,1
0,97.776,100.690,45.327,51.162,88.052,91.493,82.091,33.664,78.342,62.154,106.240,100.280,90.872,87.979,50.855,69.568,S001baixob,61.853
1,70.903,70.405,21.763,30.156,70.470,77.080,62.330,28.126,68.320,45.450,91.900,85.314,77.508,73.877,40.292,64.877,S001baixob,38.509
2,63.080,64.223,21.413,31.114,70.686,77.777,55.867,40.359,75.387,45.833,92.284,89.465,77.019,75.160,40.456,70.583,S001baixob,17.896
3,116.240,115.440,83.330,89.471,117.550,105.230,88.113,69.171,113.350,88.175,135.150,133.510,114.410,108.560,59.009,80.047,S001baixob,84.54
4,77.013,75.450,43.895,49.776,77.842,69.193,51.890,41.267,77.936,54.341,96.539,92.856,78.813,74.918,32.463,66.568,S001baixob,47.894

In [6]:
dataset[dataset['classe'] == 'S001cimab']

,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,classe,1
13776,-17.5930,-6.68090,-2.336200,-0.48891,4.5754,-1.0643,-18.786,4.2570,-7.8563,13.7220,8.4006,9.8469,14.5920,15.9020,7.2364,-27.247,S001cimab,-6.4988
13777,-9.2918,0.19988,10.552000,10.90700,4.6759,-4.7353,-21.443,8.5720,-2.7341,4.6525,7.2160,6.1745,9.1004,11.4720,-6.4878,-40.800,S001cimab,6.7366
13778,-19.2660,-14.65300,-1.926800,-0.95725,-7.0057,-11.5670,-11.186,1.1682,-12.2700,-10.5490,-7.2154,-8.1609,-4.2268,-2.1303,-14.5180,-43.235,S001cimab,-0.27389
13779,19.9820,25.38400,40.700000,41.66600,22.4330,18.6130,14.163,31.1350,24.2840,24.9020,20.5660,23.5400,25.4010,26.2770,14.1590,-37.109,S001cimab,48.309
13780,-11.0600,-11.24700,20.326000,21.24700,-1.5655,-3.3407,-18.373,17.9140,9.1402,-1.8249,-3.5196,-4.6464,2.7427,7.8464,-10.1330,-46.233,S001cimab,14.332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27547,-50.9890,-76.54100,-33.144000,-29.50800,-1.7479,-15.6530,-55.545,22.4550,-13.5540,10.5060,22.2000,15.5360,3.6199,6.4107,-14.2550,-46.014,S001cimab,-74.837
27548,-21.9690,-47.50300,0.093676,1.26470,17.6590,-3.3933,-33.380,36.8840,13.1280,20.2420,34.1550,21.6220,13.4670,17.5790,6.1877,-24.826,S001cimab,-26.044
27549,-58.1470,-83.60200,-51.201000,-48.16200,-19.2150,-41.1590,-65.221,-7.8701,-25.8760,-13.9830,-10.6860,-19.4720,-25.7080,-23.8740,-26.6430,-50.310,S001cimab,-61.051
27550,-40.2260,-54.92300,-42.802000,-43.62300,-9.0374,-18.4290,-30.834,-1.9381,-16.4560,-9.8947,-3.2450,-5.3915,-11.1410,-9.1910,-14.2220,-26.568,S001cimab,-65.452
27551,-28.4400,-38.73700,-20.921000,-20.49100,-9.7103,-11.2380,-16.618,5.6329,-9.8133,-10.7890,-7.1389,-10.1550,-16.3720,-15.7130,-8.8061,-13.471,S001cimab,-40.557

In [7]:
dataset.to_csv('dataset.csv', index=False)